## Dasar Pemrograman Python

Untuk menjalankan shell tekan `Shift+Enter`.

### <u>Jupyter Notebook Markdown</u>

<h1>Heading 1 HTML</h1>
<h2>Heading 2 HTML</h2>


# Heading 1 Jupyter
## Heading 2 Jupyter

### Variabel

Deklarasi variabel pada Python tidak mengikutsertakan tipe data variabelnya. Tipe data akan dideteksi secara otomatis oleh interpreter pada saat operasi terhadap variabel tersebut dilakukan.

In [1]:
var_1 = 100
var_2 = 100.55
var_3 = "Hello World"
var_4 = False
var_5 = 'ABC'

### Operasi Aritmatika

In [2]:
print(var_1 + var_2) # Penjumlahan
print(5 * var_1) # Perkalian
print(var_1 - 50) # Pengurangan
print(var_2 / 2) # Pembagian

200.55
500
50
50.275

### Operasi Aritmatika dengan tipe data lain

In [3]:
# Operasi dengan tipe data string
print(var_3 + ' ' + var_5) 
print(3 * var_5)

Hello World ABC
ABCABCABC

### Kondisi If - else

In [4]:
x = 1
if (x % 2 == 0):
    print("Bilangan Genap")
    print('Hello')
else:
    print('Bilangan Ganjil')
    print('Genap')

Bilangan Ganjil
Genap

### Kondisi If - else if

Kondisi `else if` pada python menggunakan kata kunci `elif`.

In [5]:
x = 10
if x > 5:
    print('Lebih dari 5')
elif x < 15:
    print('Kurang dari 15')
elif x > 20:
    print('Lebih dari 20')

Lebih dari 5

### Pengulangan dengan For

Untuk melakukan dengan pengulangan dengan tipe data integer, biasanya dibantu dengan menyertakan fungsi `range()`.

In [6]:
for i in range(11): # Perulangan dari 0 hingga 10
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(1, 11): # Perulangan dari 1 hingga 10
    print(i)

1
2
3
4
5
6
7
8
9
10

In [5]:
for i in range(1, 25, 5): # Perulangan dari 1 hingga 20 dengan jarak 5 setiap kelipatannya.
    print(i)

1
6
11
16
21

In [7]:
for index, word in enumerate('Hello World'): # Perulangan for pada tipe data String
    print(index, word)

0 H
1 e
2 l
3 l
4 o
5
6 W
7 o
8 r
9 l
10 d

### Pengulangan dengan While

In [10]:
i = 0 # Inisialisasi
while i in range(10):
    print(i)
    i += 1 # Increment

0
1
2
3
4
5
6
7
8
9

 Python tidak mengenal pengulangan **`do-while`**.

### Operasi pada String

In [11]:
kata = 'belajar pemrograman python'
kata.upper()

'BELAJAR PEMROGRAMAN PYTHON'

In [12]:
kata.title()

'Belajar Pemrograman Python'

In [13]:
angka_1 = [1, 2, 3, 4, 5, 6]
angka_2 = [i for i in range(1, 7)]

In [14]:
print(angka_1)
print(angka_2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [15]:
fruits = ['banana', 'apple','mango']
for buah in fruits:        # Second Example
   print('Current fruit :', buah)

Current fruit : banana
Current fruit : apple
Current fruit : mango

In [16]:
angka = [x for x in range(10)]
print(angka)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
angka = [1, 2, 3, 4]

In [18]:
str = "this is string example....wow!!!"
print ("str.capitalize() : ", str.capitalize())

str.capitalize() :  This is string example....wow!!!

## Python List

Struktur data List pada Python bisa memiliki elemen yang berbeda tipe datanya, namun bisa juga sama.
Contoh:

In [19]:
list_1 = ['banana', 'apple','mango']
list_2 = [1, 2, 3, 4, 5]
list_3 = [0.1, 0.2, 0.3, 0.4]
list_4 = ['banana', 1, 'apple', 2, 'mango', 3]

Operasi yang dapat dilakukan pada sebuah list adalah:

In [20]:
list_x = list_1 + list_2
print(list_x)

['banana', 'apple', 'mango', 1, 2, 3, 4, 5]

In [21]:
list_x = list_2 + list_3
print(list_x)

[1, 2, 3, 4, 5, 0.1, 0.2, 0.3, 0.4]

Berbeda dengan operasi penjumlahan di atas, kita dapat melakukan operasi perkalian skalar dengan suatu list, contoh:

In [22]:
print(list_1 * 3)

['banana', 'apple', 'mango', 'banana', 'apple', 'mango', 'banana', 'apple', 'mango']

In [23]:
list_2 * 5

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

Namun kita bisa melakukan operasi aritmatika terhadap elemen-elemen yang berada di dalam list.

In [24]:
list_x = ['manggo'*2, 10*3, 5-4, 4/2]
list_x

['manggomanggo', 30, 1, 2.0]

In [25]:
list_1.append('pineaple')

In [26]:
print(list_1)

['banana', 'apple', 'mango', 'pineaple']

In [27]:
# Insert in the middle of the list
list_1.insert(1, 'grape')
print(list_1)

['banana', 'grape', 'apple', 'mango', 'pineaple']

In [28]:
def changeme(mylist):
   mylist = [1, 2, 3, 4]
   return

mylist = [10, 20, 30]
changeme(mylist)
print ('List values: {}'.format(mylist))

List values: [10, 20, 30]

In [29]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 20, 30, 40, 50]